.links{
    max-width:fit-content;
}

.link{
    display: block;
    text-align:center;
    color: white;
    background-color: #339;
    font-size:35px;
    text-decoration: none;
    padding: 25px;
    margin: 110px;
    border-radius:100px;
    box-shadow: 2px 2px 2px #114;
}

.link:hover{
    background-color: #33B;
}
.bigLinks{
    width:80vw;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.bigLink{
    overflow:hidden;
    /* background-color: #339; */
    text-decoration: none;
    padding: 0;
    margin: 30px;
    border-radius:15px;
    border: solid #EEE;
    box-shadow: 2px 2px 2px #555;
    height: 250px;
}

.bigLink h2{
    color:white;
    font-size:55px;
    margin:0;
    padding: 10px 10px 10px 10px;
    background-color: #339;
}

.bigLink p{
    font-size: 25px;
    color: #114;
    margin: 10px;
}